.post__container{
 width:100%;
 display:flex;
 flex-direction: column;
 font-family: arial;
 border:none;
 border-bottom: solid 1px var(--twitter-extra-light-gray);
 background-color: white;
}
.main-post{
 width:100%;
 display:flex;
 justify-content: space-between;
}
.main-post>.link-image{
 height:fit-content
}
a .post-ellipsis{
 color:var(--twitter-light-black)
}
a .post-ellipsis:hover{
 color:var(--twitter-blue)
}
.post__avatar{
 width:45px;
 height: 45px;
 border-radius: 50%;
 margin-left: 10px;
 margin-top: 10px;
 cursor:pointer
}
.post__content{
 width:90%;
 margin-left: 10px;
 color: var(--twitter-black);
}
.post__content:hover{
 color: var(--twitter-black);
}
.post__title{
 display:flex;
 justify-content: space-between;
 align-items: center;
 width:100%;
 margin-top: 10px;
}
.post__title>i{
 margin-right: 10px;
}
.sbp__handle{
 display:flex;
 align-items: center;
 height: 30px;
 font-size: 10pt;
}
.sbp__handle>p{
 margin-left: 5px;
}
.post__body{
 width:95%;

}
.post__text__content{
 max-width:553px;
}
.media__container{
 width:100%;
 max-height: 300px;
 border-radius: 20px;
 margin-top: 10px;
}
.media__container>img{
 width:100%;
 max-height: 300px;
 object-fit: cover;
 border-radius: 20px;
}
.post__interact__wrapper{
 width:100%;
 height:50px;
 display:flex;
 justify-content: center;
}
.post__interact__container{
 width:65%;
 display:flex;
 justify-content: space-between;
 align-items: center;
 padding-right: 40px;
}
.post__interact__container .interact{
 display:flex;
 align-items: center;
 font-size: 9pt;
 color:var(--twitter-primaryfont);
 cursor:pointer;
}
.post__interact__container a>i{
 font-size: 12pt;
}
.comment-btn:hover .comment-i {
 background-color: var(--twitter-light-blue);
 color:var(--twitter-blue);
}
.comment-btn:hover{
 color:var(--twitter-blue);
}
.retweet-btn:hover .retweet-i {
 background-color: #8aeb8a32;
 color:#1eaf1e;
}
.retweet-btn:hover{
 color:#1eaf1e;
}
.heart-btn:hover .heart-i {
 background-color: #ff000023;
 color:#e13535;
}
.heart-btn:hover{
 color:#e13535;
}
.chart-btn:hover .chart-i {
 background-color: var(--twitter-light-blue);
 color:var(--twitter-blue);
}
.chart-btn:hover{
 color:var(--twitter-blue);
}
.share-btn:hover .share-i{
 background-color: var(--twitter-light-blue);
 color:var(--twitter-blue);
}
.share-btn:hover{
 color:var(--twitter-blue);
}
.bounce{
 animation: bounce 0.3s ease-in-out;
 position:relative;
 z-index:0;
}
.bounce-reg{
 animation: bounce-reg 0.3s ease-in-out;
 position:relative;
 z-index:0;
}
@keyframes bounce {
 0%{
  transform:scale(0.5)
 }
 50%{
  transform: scale(1.2);
 }
 100%{
  transform:scale(0.5)
 }
}
@keyframes bounce-reg {
 0%{
  transform:scale(0.5)
 }
 50%{
  transform: scale(1);
 }
 100%{
  transform:scale(0.5)
 }
}
